
/* header */

header {
    font-family: 'Raleway', Helvetica, sans-serif;
    background-color: #ffe6ff;
    color: #3b0239;
    text-align: center;

}

/* navigation */

nav {
    font-family: Arial, Helvetica, sans-serif;
    background: #d6bff3;
    text-align: center;

}

/* links */

a {
    color: #3b0239;
}

a:hover {
    color: #ffe6ff;
    background-color: #3b0239;
}

/* body */

body {
    background-image: url(../images/cat-bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 300px auto;
    background-color: #965493;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffe6ff;
}

/* headers */

h2 {
    font-family: 'Raleway';
    font-size: 20px;
}

/* grid */

.grid-container {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-gap: 10px 10px;
    padding: 10px;
  }


/* footer */

footer {
    font-family:'Raleway';
}

/* images */

img {
    height: auto;
    width: 500px;
}