
/* header */

header {
    font-family: 'Raleway', sans-serif;
    background-color: #5c5c5c;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;

}

/* navigation */

nav {
    font-family: 'Open Sans' sans-serif;
    background: #dddddd;
    text-align: center;

}

nav > a {
    font-family: 'Open Sans' sans-serif;
    font-weight: bold;
}

/* links */

a {
    color: #5c5c5c;
    text-decoration: none;
}

a:hover {
    color: #f3f3f3;
    background-color: #5c5c5c;
}

a:active {
    text-decoration: underline;
}

/* body */

body {
    background-image: url(../images/wood-background.png);
    color: #5c5c5c;
}

body p {
    font-family: 'Open Sans', sans-serif;
}

p.basic {
    color: #766e97;
}

p.history {
    color: #976e97
}

p.favorite {
    color: #6e7e97
}

/* headers */

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

/* grid */

.grid-container {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    background-color: #f3f3f3;
    grid-gap: 10px 10px;
    padding: 10px;
  }

/* footer */

footer {
    font-family:'Open Sans', sans-serif;
    background-color: #dddddd;
}

footer > p {
    font-style: italic;
}

/* images */

img {
    height: auto;
    width: 350px;
}