
/* header */

header {
    font-family: 'Raleway', Helvetica, sans-serif;
    background-color: #5c5c5c;
    color: #f3f3f3;
    text-align: center;
    padding: 18px;

}

/* navigation */

nav {
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f3f3;
    text-align: center;

}

/* links */

a {
    color: #5c5c5c;
    text-decoration: none;
}

a:hover {
    color: #f3f3f3;
    background-color: #5c5c5c;
}

a:active {
    text-decoration: underline;
}

/* body */

body {
    background-image: url(../images/wood-background.png);
    color: #5c5c5c;
}

/* headers */

h2 {
    font-family: 'Raleway';
    font-size: 20px;
}

/* grid */

.grid-container {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    background-color: #f3f3f3;
    grid-gap: 10px 10px;
    padding: 10px;
  }

/* footer */

footer {
    font-family:'Raleway';
}

/* images */

img {
    height: auto;
    width: 350px;
}