header {
    font-family: Arial, Helvetica, sans-serif;
    color: #3b0239
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    background: #bd98ec;

}

/* links */

a {
    color: #8f0088;
}

a:hover {
    color: #bd98ec;
    background-color: #8f0088;
}

/* body */

body {
    font-family: Arial, Helvetica, sans-serif;
}